<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    {% for item in lista %}
    <video controls poster="demo.jpg">
        <source src="{{url_for('static', filename = item.nome)}}" type="video/mp4">         
    </video>    
    <h1><label>Nome: </label>{{ item.nome }}</h1>
    <h1><label>Tempo: </label>{{ item.segundo }} segundos</h1>
    <h1><label>Palavra: </label>{{ item.palavra}}</h1>
    <h1><label>Texto: </label>{{ item.texto }}</h1>
    {%endfor %}
</body>
</html>