blinker==1.8.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
decorator==4.4.2
Flask==3.0.3
idna==3.7
imageio==2.34.1
imageio-ffmpeg==0.4.9
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
moviepy==1.0.3
numpy==1.26.4
pillow==10.3.0
proglog==0.1.10
pycparser==2.22
pydub==0.25.1
pytube==15.0.0
requests==2.32.2
setuptools==70.0.0
srt==3.5.3
tqdm==4.66.4
urllib3==2.2.1
vosk==0.3.45
websockets==12.0
Werkzeug==3.0.3
